@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(17, 12, 94);
    background: linear-gradient(90deg, rgba(17, 12, 94, 1) 0%, rgba(11, 7, 78, 1) 11%, rgba(24, 19, 102, 1) 20%, rgba(22, 17, 91, 1) 35%, rgba(14, 8, 96, 1) 51%, rgba(19, 13, 89, 1) 62%, rgba(20, 15, 85, 1) 79%, rgba(16, 10, 92, 1) 90%, rgba(15, 12, 65, 1) 100%);
    background-size: 400% 400%;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 100% 400%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaler {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}

.googleform {
    display: flex;
    max-height: 100vh;
    align-items: center;
    margin-top: 40px;
    opacity: 0;
    animation: fade 1000ms 6550ms ease-in-out 1 forwards;
}

.googleform iframe {
    margin: auto;
    width: 98vw;
    height: 100vh;
    max-height: 1024px;
    max-width: 600px;
}

.logo {
    z-index: -1;
    width: 100vw;
    height: auto;
}

.logo>svg {
    opacity: 0;
    animation: fade 1300ms 1050ms ease-in-out 1 forwards, scaler 1300ms 1050ms ease-in-out 1 forwards;
}

.logo>svg:hover {
    filter: drop-shadow();
}

.virtualMusicCompetition {
    opacity: 0;
    letter-spacing: 1vw;
    animation: fade 900ms 2400ms ease-in-out 1 forwards, letterSpacing 900ms 2400ms ease-in-out 1 forwards;
}

@keyframes letterSpacing {
    0% {
        letter-spacing: 1vw;
    }
    100% {
        letter-spacing: 0;
    }
}

.st0 {
    fill: white;
}

.header {
    display: flex;
    margin: auto;
    justify-content: space-around;
    vertical-align: middle;
}

.header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tscLogo,
.usjLogo {
    margin: 10px;
    width: 17vw;
    height: 17vw;
    max-width: 200px;
    max-height: 200px;
    opacity: 0;
    animation: fade 500ms 600ms 1 ease-in-out forwards;
}

h1:nth-of-type(1) {
    font-family: 'Montserrat';
    letter-spacing: 2px;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    opacity: 0;
    animation: fade 500ms 500ms 1 ease-in-out forwards;
}

h1:nth-of-type(2) {
    font-family: 'Montserrat';
    letter-spacing: 2px;
    color: white;
    font-size: 1.7vw;
    text-align: center;
    opacity: 0;
    animation: fade 500ms 600ms 1 ease-in-out forwards;
}

@media screen and (max-width:350px) {
    h1:nth-of-type(1) {
        font-size: 2.4vw;
    }
    h1:nth-of-type(2) {
        font-size: 1.4vw;
    }
}

@media screen and (min-width:1200px) {
    h1:nth-of-type(1) {
        font-size: 2.8vw;
    }
    h1:nth-of-type(2) {
        font-size: 2.5vw;
    }
}

.caption {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    color: white;
    font-size: 1vw;
}

.caption>* {
    padding: 10px;
}

.virtualMusicCompetition {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    font-size: max(1.4vw, 10px);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.rulesBtn {
    margin: 30px 0px;
    padding: 16px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    font-weight: 400;
    color: black;
    font-size: max(1.4vw, 12px);
    border: 0px;
    border-radius: 25px;
    transition: 300ms background-color linear;
    transition: 300ms color linear;
    background-color: white;
    opacity: 0;
    animation: fade 1100ms 3450ms ease-in-out 1 forwards;
}

.rulesBtn:hover {
    color: white;
    background-color: rgb(11, 8, 43);
}


/* container */

.lcontainer {
    display: flex;
    align-self: center;
    align-items: center;
    font-family: 'Montserrat';
    width: 100vw;
    height: auto;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 50px 0px;
}


/* leaderboard */

.leaderboard {
    width: min(90vw, 90vh);
    border-radius: 10px;
    box-shadow: 0px 0px 36px 18px rgb(0 0 0 / 47%);
    margin-top: -1350px;
    animation: marginAnimation 2000ms cubic-bezier(.49, .34, 0, .9) 3s 1 forwards;
}


/* head */

.leaderboard .head {
    color: snow;
    font-size: 20px;
    text-align: center;
}

.leaderboard .head h1 {
    display: inline-block;
    padding: 10px 8px;
}


/* body */

.lbody {
    color: snow;
    font-size: 16px;
}

.leaderboard ul {
    counter-reset: number;
}

.leaderboard li {
    padding: 16px;
    display: flex;
    transition: 500ms;
    transition-timing-function: ease-in-out;
    border-radius: 10px
}

.leaderboard li mark,
small {
    flex-grow: 1;
    color: snow;
    background-color: transparent;
    max-width: 300px;
}

small {
    text-align: right;
}

#headers1 {
    background: #fa6855;
    pointer-events: none;
    font-weight: bold;
}

li:hover {
    transform: scale(1.1);
    background-color: rgb(11, 7, 51);
}

@keyframes marginAnimation {
    0% {
        margin-top: -1350px;
    }
    100% {
        margin-top: 0px;
    }
}

a {
    text-decoration: none;
}

.head {
    font-size: min(1.4vw, 18px);
    text-align: center;
    width: 100%;
}

.head h1 {
    font-size: max(1.5vw, 18px);
    padding: 2%;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 24vw;
    padding: 10px;
    margin: 40px 10px;
    height: 25vw;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    opacity: 0;
    animation: cardAnim 6s cubic-bezier(0.165, 0.84, 0.44, 1) 4.5s 1 forwards;
    transition: 0.4s;
}

.card:nth-of-type(1) {
    animation-delay: 5100ms;
}

.card:nth-of-type(2) {
    animation-delay: 5250ms;
}

.card:nth-of-type(3) {
    animation-delay: 5400ms;
}

.card:nth-of-type(4) {
    animation-delay: 5550ms;
}

.card:nth-of-type(5) {
    animation-delay: 5700ms;
}

.card:nth-of-type(6) {
    animation-delay: 5850ms;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.6vh;
    margin-top: 15px;
}

.card .card_title:nth-of-type(even) {
    text-align: left;
}

.card .card_title .surname {
    font-family: 'Montserrat';
    font-weight: 400;
}

.card .card_title .firstname {
    font-family: 'Montserrat';
    font-weight: 800;
    animation: newfont 4s linear 2s infinite forwards;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.35), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    .card {
        width: 50vw;
        height: 50vw;
    }
    .card .card_title {
        text-align: center;
        border-radius: 0px 0px 40px 40px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        margin-top: 0px;
        height: 40px;
    }
}

@keyframes cardAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.luminance {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    font-family: "Montserrat", "Source Sans Pro", sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    animation: reveal 3000ms ease-in-out forwards 3400ms, glow 2500ms linear infinite 5200ms;
    text-align: center;
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}

@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}